.grid-container{
  display: grid;
  grid-gap: 3.6vw;
  grid-template-columns:1fr;

  grid-template-areas:
  "lijn"
  "cirkel"
  "atmo";

}
body{
  margin: 0;
  padding: 0;
}
.chart1{
    grid-area:lijn;
    max-width:92vw;
    min-height: 30vh;
    max-height: 100%;
    margin-left: 4vw;
    margin-right: 4vw;
}
.chart2{
    grid-area:cirkel;
    max-width:92vw;
    min-height: 30vh;
    max-height: 100%;
    margin-right: 4vw;
    margin-left: 4vw;
  }
  #atmo{
    grid-area:atmo;
    border-style: solid;
    border-radius: 3vw;
    border-width: 0.5vw;
    margin-bottom: 3vw;
    width:92vw;
    max-height: 100%;
    margin-right: 4vw;
    margin-left: 4vw;
    background-color: white;
  }
canvas#myChart{
  border-style: solid;
  background-color:white;
  border-radius: 3vw;
  border-width: 0.5vw;
}
canvas#pieChart{
  border-style: solid;
  background-color: white;
  border-radius: 3vw;
  border-width: 0.5vw;
}
#balk{
  background-color:#7464D0;
  width:0px;
  height:20px;
  color:white;
  z-index: 0;
}
#snelheidsbalk {
  background-color:white;
  margin: -15vw 15vw 0vw 10vw;
  overflow: hidden;
  color:white;
  z-index:0;
  height: 1vw;
  width:70%;
}
input{
margin-top: 2vw;
margin-left: 75vw;
margin-bottom: 2vw;
font-size: 2.5vw;
border-radius: 1vw;
padding: 0.5vw;
}
.flex{
  display: flex;
  flex-flow: column;
}
/* hr{
  position: absolute;
  width: 1vw;
  height: 9vw;
} */
@media only screen and (min-width: 834px) and (max-width:1279px){
 .grid-container {
    display: grid;
    grid-gap:3vw;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "lijn cirkel"
    "atmo atmo";
    }
    #atmo{
      max-height:100%;
      width:93.5vw;;
      border-radius: 1.8vw;
      margin-left: 3vw;
      margin-right: 3vw;
      margin-bottom: 3vw;
    }
    .chart1{
      width:45vw;
      max-height: 100%;
      min-height: 35vh;
      margin-left: 3vw;
      margin-right: 0vw;
    }
    .chart2{
      width:45vw;
      min-height: 35vh;
      max-height: 100%;
      margin-right: 3vw;
      margin-left: 0vw;
    }
    canvas#myChart{
      border-radius: 1.8vw;
    }
    canvas#pieChart{
      border-radius: 1.8vw;
    }
    input{
    margin-top: 2vw;
    margin-left: 75vw;
    width: 10vw;
    font-size: 2vw;
    }
  }
@media only screen and (min-width: 1280px) and (max-width:1919px){
  .grid-container {
     display: grid;
     grid-gap:3vw;
     grid-template-columns: 1fr 1fr;

     grid-template-areas:
     "lijn lijn"
     "cirkel atmo";
     }
     .flex{
       display: flex;
       flex-flow: row;
     }
     .chart1{
         max-width:96vw;
         min-height: 38vh;
         max-height: 100%;
         margin-left: 2vw;
         margin-right: 2vw;
     }
     .chart2{
         max-width:96vw;
         min-height: 30vh;
         max-height: 100%;
         margin-right:0vw;
         margin-left: 2vw;
         margin-bottom: 2vw;
       }
     #atmo{
       max-height: 100%;
       min-height:28vh;
       width:46.5vw;
       border-radius: 1.4vw;
       margin-left: 0vw;
       margin-right: 2vw;
       margin-bottom: 2vw;
     }
     #snelheidsbalk {
       margin: -8vw 15vw 0vw 12vw;
       height: 0.4vw;
     }
     canvas#myChart{
       border-radius: 1.4vw;
     }
     canvas#pieChart{
       border-radius: 1.4vw;
     }
     input{
     margin-top: 2vw;
     margin-left: 34vw;
     width: 10vw;
     font-size: 1.5vw;
     }
}
@media only screen and (min-width: 1920px) {
  .grid-container {
     display: grid;
     grid-gap:2vw;
     grid-template-columns: 1fr 1fr;

     grid-template-areas:
     "lijn lijn"
     "cirkel atmo";
     }
     .flex{
       display: flex;
       flex-flow: row;
     }
     .chart1{
         max-width:96vw;
         min-height: 42vh;
         max-height: 100%;
         margin-left: 4vw;
         margin-right: 4vw;
         margin-top: 2vw;
     }
     .chart2{
         max-width:96vw;
         min-height: 20vh;
         max-height: 100%;
         margin-right:0vw;
         margin-left: 4vw;
         margin-bottom: 3vw;
       }
     #atmo{
       max-height: 100%;
       min-height:20vh;
       width:46.5vw;
       border-radius: 1.4vw;
       margin-left: 0vw;
       margin-right: 4vw;
       margin-bottom: 3vw;
     }
     #snelheidsbalk {
       margin: -8vw 15vw 0vw 12vw;
       height: 0.4vw;
     }
     canvas#myChart{
       border-radius: 1.4vw;
     }
     canvas#pieChart{
       border-radius: 1.4vw;
     }
     input{
     margin-top: 2vw;
     margin-left: 34vw;
     width: 10vw;
     font-size: 1.5vw;
     }
}
