.grid-container{
  display: grid;
  grid-gap: 3.6vw;
  grid-template-columns:1fr;
  /* grid-template-rows: 30vw 30vw 30vw; */

  grid-template-areas:
  "lijn"
  "cirkel"
  "atmo"

}
body{
  margin: 0;
  padding: 0;
}
.chart1{
    grid-area:lijn;
    width:100vw;
}
.chart2{
    grid-area:cirkel;
    width:100vw;
}
canvas#myChart{
  border-style: solid;
  border-radius: 3vw;
  border-width: 0.5vw;
  background-color: pink;
}
canvas#pieChart{
  border-style: solid;
  border-radius: 3vw;
  border-width: 0.5vw;
  background-color: orange;
}
#atmo{
  grid-area:atmo;
  border-style: solid;
  border-radius: 3vw;
  border-width: 0.5vw;
  margin-bottom: 3vw;
  width:100vw;
  height:100%;
}
#balk{
  background-color: black;
  width:0px;
  height:20px;
  color:white;
  z-index: 0;
}
#snelheidsbalk {
  background-color:white;
  margin: -16vw 15vw 0vw 10vw;
  overflow: hidden;
  color:white;
  z-index:0;
  height: 1vw;
}
input{
margin-top: 5vw;
}
.flex{
  display: flex;
  flex-flow: column;
}

@media only screen and (min-width: 834px) and (max-width:1279px){
 .grid-container {
    display: grid;
    grid-gap:3vw;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "lijn cirkel"
    "atmo atmo";
    /* border-style: solid;
    border-radius: 3vw;
    border-width: 0.5vw; */
    /* width:100vw; */
    }
    /* canvas#myChart{
      height:30vh;
      width:100%;
    }
    canvas#pieChart{
      height:30vh;
      width:100%;
    } */
    #atmo{
      height:100%;
      width:100vw;
    }
    .chart1{
      width:46vw;
    }
    .chart2{
      width:46vw;
    }
  }
@media only screen and (min-width: 1280px) and (max-width:1919px){
  .grid-container {
     display: grid;
     grid-gap:3vw;
     grid-template-columns: 1fr 1fr;

     grid-template-areas:
     "lijn lijn"
     "cirkel atmo";
     /* border-style: solid;
     border-radius: 3vw;
     border-width: 0.5vw; */
     /* width:100vw; */
     }
     .flex{
       display: flex;
       flex-flow: row;
     }
     #atmo{
       height:100%;
       width:48vw;
     }
     .chart1{
       width:100vw;
       height:
     }
     .chart2{
       width:48vw;
     }
     #snelheidsbalk {
       margin: -10vw 15vw 0vw 10vw;
       height: 0.5vw;
     }
}
@media only screen and (min-width: 1920px) {
  .grid-container {
   display: grid;
   grid-gap:3vw;
   /* grid-template-rows: 30vw 30vw; */

   grid-template-columns: 1fr 1fr;
   grid-template-areas:
   "lijn lijn"
   "cirkel atmo"
   /* border-style: solid;
   border-radius: 3vw;
   border-width: 0.5vw; */
  }
  .flex{
    display: flex;
    flex-flow: column;
  }
}
