.grid-container{
  display: grid;
  grid-gap: 3.6vw;
  grid-template-columns:1fr;
  /* grid-template-rows: 30vw 30vw 30vw; */

  grid-template-areas:
  "lijn"
  "cirkel"
  "atmo"

}
html{
  margin: 0;
  padding: 0;
}
canvas#myChart{
  border-style: solid;
  border-radius: 3vw;
  border-width: 0.5vw;
  grid-area:lijn;
  position: relative;
  margin:auto;
  height:40vh;
  width:50vw;
}
#pieChart{
  grid-area:cirkel;
  border-style: solid;
  border-radius: 3vw;
  border-width: 0.5vw;
  padding-bottom: 6vw;
  /* background-color: red; */
}
#atmo{
  grid-area:atmo;
  border-style: solid;
  border-radius: 3vw;
  border-width: 0.5vw;
  padding-bottom: 6vw;
  margin-bottom: 3vw;
}
#balk{
  background-color: black;
  width:0px;
  height:20px;
  color:white;
  z-index: 0;
}
#snelheidsbalk {
  background-color:white;
  margin: -16vw 15vw 0vw 10vw;
  overflow: hidden;
  color:white;
  z-index:0;
  height: 1vw;
}
input{
  margin-top:7vw;
  margin-left: 7vw;
}

@media only screen and (min-width: 834px) and (max-width:1279px){
 .grid-container {
    display: grid;
    grid-gap:10vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vw 30vw;

    grid-template-areas:
    "lijn cirkel"
    "atmo atmo";
    }
@media only screen and (min-width: 1280px) and (max-width:1919px){
   .grid-container {
    display: grid;
    grid-gap:3vw;
    grid-template-rows: 70vw 30vw;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "lijn lijn"
    "cirkel atmo";
   }
   body{
     padding: 0;
     margin:0;
  }
}
@media only screen and (min-width: 1920px) {
  .grid-container {
   display: grid;
   grid-gap:3vw;
   grid-template-rows: 30vw 30vw;

   grid-template-columns: 1fr 1fr;
   grid-template-areas:
   "lijn lijn"
   "cirkel atmo";
  }
  body{
    padding: 0;
    margin:0;
  }
   }
