.grid-container{
  display: grid;
  grid-gap: 3.6vw;
  grid-template-columns:1fr;

  grid-template-areas:
  "lijn"
  "cirkel"
  "atmo";

}
body{
  margin: 0;
  padding: 0;
}
.chart1{
    grid-area:lijn;
    min-height: 25vh;
    max-height: 100%;
    margin-left: 4vw;
    margin-right: 4vw;
    box-shadow:2px 2px 6px #332E33;
    border-radius: 3vw;
}
.chart2{
    grid-area:cirkel;
    max-width:92vw;
    min-height: 30vh;
    max-height: 95%;
    margin-right: 4vw;
    margin-left: 4vw;
    box-shadow:2px 2px 6px #332E33;
    border-radius: 3vw;
  }
  #atmo{
    grid-area:atmo;
    border-style: solid;
    border-radius: 3vw;
    border-width: 0.5vw;
    margin-bottom: 3vw;
    width:92vw;
    max-height: 100%;
    margin-right: 4vw;
    margin-left: 4vw;
    background-color: #C674FF;
    border-color: #C674FF;
    box-shadow:2px 2px 6px #332E33;
    border-radius: 3vw;
  }
canvas#myChart{
  border-style: solid;
  background-color: #C674FF;
  border-radius: 3vw;
  border-width: 0.5vw;
  border-color: #C674FF;
}
canvas#pieChart{
  border-style: solid;
  background-color: #C674FF;
  border-color: #C674FF;
  border-radius: 3vw;
  border-width: 0.5vw;
}
#balk{
   background-color: #2C2D50;
  height:20px;
  color:white;
  z-index: 4;
  box-shadow:1px 3px 5px #332E33;
  border-radius: 0;
}
#snelheidsbalk {
  margin: -15vw 15vw 0vw 10vw;
  overflow: hidden;
  color:white;
  z-index:4;
  height: 1vw;
  width:70%;
}
input{
  margin-top: 2vw;
  margin-left: 75vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  border-radius: 1vw;
  padding: 0.5vw;
  background-color:#8A4FB3;
  box-shadow:1px 1px 4px grey;
  color:white;
  border-color: #2C2D50;
  border-width: 2px;
  border-style: solid;
  }
.flex{
  display: flex;
  flex-flow: column;
}
hr{
  position: absolute;
  min-height:25vw;
  max-height: 10%;
  border: 2px dashed #8A4FB3;
}
.lijn1{
    margin-left: 32vw;
    margin-top: 4.5vw;
}
.lijn2{
  margin-left: 47.5vw;
  margin-top: 4.5vw;
}
.lijn3{
  margin-left: 63.5vw;
  margin-top: 4.5vw;
}
@media only screen and (min-width: 834px) and (max-width:1279px){
 .grid-container {
    display: grid;
    grid-gap:3vw;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "lijn cirkel"
    "atmo atmo";
    }
    #atmo{
      max-height:100%;
      width:93.5vw;;
      border-radius: 1.8vw;
      margin-left: 3vw;
      margin-right: 3vw;
      margin-bottom: 3vw;
    }
    .chart1{
      width:45vw;
      max-height: 95%;
      min-height: 35vh;
      margin-left: 3vw;
      margin-right: 0vw;
    }
    .chart2{
      width:45vw;
      min-height: 35vh;
      max-height: 95%;
      margin-right: 3vw;
      margin-left: 0vw;
    }
    canvas#myChart{
      border-radius: 1.8vw;
    }
    canvas#pieChart{
      border-radius: 1.8vw;
    }
    input{
    margin-top: 2vw;
    margin-left: 77vw;
    width: 10vw;
    font-size: 2vw;
    }
    hr{
      min-height:23vw;
      border: 3px dashed #8A4FB3;
    }
    .lijn1{
        margin-left: 31vw;
    }
    .lijn2{
      margin-left: 47.5vw;
    }
    .lijn3{
      margin-left: 63.5vw;
    }
  }
@media only screen and (min-width: 1280px) and (max-width:1919px){
  .grid-container {
     display: grid;
     grid-gap:3vw;
     grid-template-columns: 1fr 1fr;

     grid-template-areas:
     "lijn lijn"
     "cirkel atmo";
     }
     .flex{
       display: flex;
       flex-flow: row;
     }
     .chart1{
         max-width:96vw;
         min-height: 38vh;
         max-height: 100%;
         margin-left: 2vw;
         margin-right: 2vw;
     }
     .chart2{
         max-width:96vw;
         max-height: 90%;
         margin-right:0vw;
         margin-left: 2vw;
         margin-bottom: 2vw;
       }
     #atmo{
       max-height: 100%;
       min-height:28vh;
       width:46.5vw;
       border-radius: 1.4vw;
       margin-left: 0vw;
       margin-right: 2vw;
       margin-bottom: 2vw;
     }
     #snelheidsbalk {
       margin: -8vw 15vw 0vw 12vw;
       height: 0.4vw;
     }
     canvas#myChart{
       border-radius: 1.4vw;
     }
     canvas#pieChart{
       border-radius: 1.4vw;
     }
     input{
       margin-top: 1.5vw;
       margin-left: 38vw;
       width: 7vw;
       font-size: 1vw;
     }
     input:hover{
       background-color: #2C2D50 ;
     }
     hr{
      min-height:12vw;
      border: 3px dashed #8A4FB3;
     }
     .lijn1{
         margin-left: 15.5vw;
         margin-top: 3vw;
     }
     .lijn2{
       margin-left: 25vw;
       margin-top: 3vw;
     }
     .lijn3{
       margin-left: 34.5vw;
       margin-top: 3vw;
     }
}
@media only screen and (min-width: 1920px) {
  .grid-container {
     display: grid;
     grid-gap:2vw;
     grid-template-columns: 1fr 1fr;

     grid-template-areas:
     "lijn lijn"
     "cirkel atmo";
     }
     .flex{
       display: flex;
       flex-flow: row;
     }
     .chart1{
         max-width:96vw;
         min-height: 41vh;
         margin-left: 4vw;
         margin-right: 4vw;
         margin-top: 2vw;
     }
     .chart2{
         max-width:96vw;
         height: 45vh;
         margin-right:0vw;
         margin-left: 4vw;
         margin-bottom: 3vw;
       }
     #atmo{
       max-height: 100%;
       width:46.5vw;
       border-radius: 1.4vw;
       margin-left: 0vw;
       margin-right: 4vw;
       margin-bottom: 3vw;
     }
     #snelheidsbalk {
       margin: -8vw 15vw 0vw 12vw;
       height: 0.4vw;
     }
     canvas#myChart{
       border-radius: 1.4vw;
     }
     canvas#pieChart{
       border-radius: 1.4vw;
     }
     input{
       margin-top: 1.5vw;
       margin-left: 37.5vw;
       width: 7vw;
       font-size: 1.2vw;
     }
     input:hover{
       background-color: #2C2D50;
     }
     hr{
       min-height:15vw;
       border: 3px dashed #8A4FB3;
     }
     .lijn1{
         margin-left: 17.2vw;
         margin-top: 3vw;
     }
     .lijn2{
       margin-left: 25vw;
       margin-top: 3vw;
     }
     .lijn3{
       margin-left: 33vw;
       margin-top: 3vw;
     }
}
